{% if current_user.has_role('admin') %}
{% extends 'admin/base_admin.html' %}
{% else %}
{% extends 'user/base_user.html' %}
{% endif %}
{% block head %}
<title>Welcome</title>
{% endblock %}
{% block content %}
<h1>Orders</h1>
{% if current_user.has_role('admin') %}
<table class="table">
  <thead class="thead-dark">
    <tr>
        <th scope="col">ID</th>
      <th scope="col">Username</th>
      <th scope="col">Book ID</th>
      <th scope="col">Book Title</th>
    </tr>
  </thead>
  <tbody>
    {% for i in orders %}
    <tr>
      <th scope="row">{{i.id}}</th>
      <td>{{i.username}}</td>
      <td>{{i.book_id}}</td>
      <td>{{i.title}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<table class="table">
  <thead class="thead-dark">
    <tr>
        <th scope="col">ID</th>
      <th scope="col">Book Title</th>
      <th scope="col">Author</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    {% for i in orders %}
    <tr>
      <th scope="row">{{i.id}}</th>
      <td>{{i.title}}</td>
      <td>{{i.author}}</td>
      <td>{{i.price}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}