<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/bootstrap-5.0.0-beta1-dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="../static/bootstrap-5.0.0-beta1-dist/js/bootstrap.min.js"></script>
    {% from "security/_macros.html" import render_field_with_errors, render_field %}
    {% block head %}{% endblock %}
</head>
<body>
    {% include "security/_messages.html" %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="static/assets/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-top">
            Bootstrap</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#">Order a book</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  New Order
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/orders">Previous Orders</a></li>
                  <li><a class="dropdown-item" href="/wishlist">wishlist</a></li>
                </ul>
              </li>
              <form action="/search" method="post" class="d-flex">
                  {{ render_field(form.title) }}
                {{ form.submit }}
              </form>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            </ul>
            
          </div>
        </div>
      </nav>
    {% block content %}{% endblock %}
</body>
</html>